<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:action="@{/cheese/edit}" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:value="${cheese.name}" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
        <input type="hidden" th:value="${cheese.cheeseId}" th:field="*{cheeseId}"  />
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:value="${cheese.description}" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating</label>
        <select th:field="*{rating}">
            <option th:each="i : ${#numbers.sequence( 1, 5)}"
                    th:text="${i}"
                    th:value="${i}">
            </option>
        </select>
    </div>
    <input type="submit" value="Update" />
</form>

</body>
</html>